venv
*.so
__pycache__/
build/
data/
optuna_models/
.idea/
*.swp
.ipynb_checkpoints/
models/
fasttext_embs/

ccg/representation/category.c
ccg/representation/category.cpp
ccg/representation/combinators.c
ccg/representation/combinators.cpp
ccg/representation/derivation.c
ccg/representation/predarg.c
ccg/representation/rotations.c
ccg/supertagger/easyccg_lib/bin

